{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Détail Prospect</h1>

    <ul>
        {{prospect.firstname}}
        {{prospect.name}}
        {{prospect.phone}}
        {{prospect.email}}
    </ul>
{% endblock %}
