{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liste Prospects</h1>

    <ul>
        {% for prospect in prospects %}
            <li>prospect.firstname</li>
        {% endfor %}
    </ul>
{% endblock %}
