{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liste Prospects</h1>

    <ul>
        {% for prospect in prospects %}
            <li><a href='prospect/{{prospect.id}}'>{{prospect.firstname}}</li>
        {% endfor %}
    </ul>
{% endblock %}
